<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="icon" type="image/png" href="<%- config.url %>/img/favicon.png" sizes="16x16">
    <link rel="stylesheet" href="<%- config.url %>/main.css">
  <title>SNTMT 2021</title>
</head>

<body>
  <%- partial('partial/navSup') %>
  <%- body %>
  <%- partial('partial/footer', {title: "testTile" }) %>
</body>

</html>