<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Web development">
  <meta name="title" content="Freelance, Full Stack Web Developer">
  <meta name="robots" content="index, follow">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="<%- config.url %>/img/favicon.png" sizes="16x16">
  <link rel="preload" as="font" href="/fonts/OpenSans-Regular.ttf" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" as="font" href="/fonts/PTSerif-Regular.ttf" type="font/ttf" crossorigin="anonymous">
  <link rel="stylesheet" href="<%- config.url %>/css/normalize.css">
  <link rel="stylesheet" href="<%- config.url %>/css/main.css">
  <title>SNTMT 2023</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-207644997-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-207644997-1');
  </script>
</head>
<body>
  <%- partial('partial/navSup') %>
    <%- body %>
      <%- partial('partial/footer', {title: "testTile" }) %>
</body>
</html>